* {
    box-sizing: border-box;
}

.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../Images/dirt-trail.webp);
  background-size: cover;
  background-position: 80%;
  align-items: flex-start;
  background-attachment: fixed;
}

#hero-body {
    width: 58%;
}

#infoBody {
    width: 100%;
    margin: 0 1em;
    padding-right: 2em;
}

.search-history {
    width: 100%;
}
/* #searchPanel {
    background-color: rgb(83, 76, 76);
} */

/* #infoBox {
  width: 100%;
} */
#trail-info-section {
    margin: 0 auto;
}

.trailDiv:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255);;
}

#trail-info-section a {
    text-decoration: underline;
}

/*#historyContainer .search-history {
    width: 50%;
}*/
header {
  padding: 10px;
  background-image: linear-gradient(to bottom right, rgb(26, 26, 26), rgb(54, 54, 54), rgb(204, 15, 53));
}
/* .box {
  width: 90%;
} */
@media screen and (max-width: 768px) {
    #infoBody {
        margin: 0;
        padding: 0;
    }
    #trail-info-section {
        margin: 0;
    }
    .hero {
        height: 40vh;
        background-attachment: local;
    }
    .search-history {
        max-width: 50%;
    }

}    

@media screen and (max-width: 539px) {
    #titleContainer {
        flex-direction: column;
    }

    .hero {
        height: 30vh;
    }

    h1 {
        text-align: center;
    }

    #logoContainer {
        align-self: center;
    }
}
