.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../Images/6965053824_3865b1a920_o.jpg);
    background-size: cover;
    background-position: 80%;
    align-items: flex-start;
    background-attachment: fixed;
}